<html>
    <head>
	<link type="text/css" rel="stylesheet" href="static/css/gym.css">
    </head>
    <body class="gym-page">
	{% include "../components/header.html" %}
        {% block content %}{% endblock %}
    {% include "../components/footer.html" %}
	<script src="/static/js/sea.js"></script>
    <script src="/static/js/vendors/underscore.js"></script>
    <script src="/static/js/vendors/jquery-1.7.1.js"></script>
    <script src="/static/js/vendors/backbone.js"></script>
	<script src="{% block entry_script %}{% endblock %}" data-main="{% block use_script %}{% endblock %}" type="text/javascript"></script>
    <script>
        seajs.use('/static/js/entries/home_page_entry');

    </script>
    </body>
</html>
