{% extends "base.html" %}

{% block content %} 
<div class="faq-wrapper">

<form action="/faq" autocomplete="off" method="post" class="form">
  <div><span>Question or Suggestions:</span></div>
  <input name="question" type="text"></input>
  <div><span>Anonymous:</span></div>
  <input name="anonymous" type="checkbox"></input>
  <br/>
  <div><input type="submit" value="Submit" id="submit_button"></div>
</form>

  <div id="faq">
  </div>
</div>
{% endblock %}

{% block app_script %}FaqPageApp{% endblock %}

{% block use_script %}FaqPageApp{% endblock %}