{% extends "base.html" %}

{% block content %} 
<div class="testmenu-wrapper">
{% with 1 as selected %}
{% include "components/tabs.html" %}
{% endwith %}
<div id="test-menu">
<label>Order By:</label>
<select id="menu-order-select">
    <option value="testid">Default</option>  
    <option value="viewer">Num of Views</option>
    <option value="buyer">Num of Buys</option>
    <option value="price">Price</option>
</select>
<button id="reverse-menu">Reverse</button>
  <div id="testitems">
  </div>
</div>
</div>
{% endblock %}

{% block app_script %}HomePageApp{% endblock %}

{% block use_script %}HomePageApp{% endblock %}