{% extends "base.html" %}

{% block content %} 
<div class="practice-wrapper">
{% include "components/practice_header.html" %}
    <div id="practice-section" class="practice-section">
    <div id="question">
    </div>
    <div id="article">
    </div>
    </div>
</div>
<script type="text/json" id="configData">
{
    "testId": {{ testid }},
    "sectionId": {{ sectionid }} 
}
</script>
{% endblock %}

{% block app_script %}ReadingPageApp{% endblock %}

{% block use_script %}ReadingPageApp{% endblock %}
