{% extends "base.html" %}

{% block content %} 
<div class="content-wrapper">
{% if expired %}
<dd class="warning">The link is invalid or it has expired. Please request again!</dd>
{% else %}
  <span>Reseting password:</span>
  {% if error %}
  <dd class="warning">{{ msg }}</dd>
  {% endif %}
  <form method="post">
    <div><span>Password:</span></div>
    <input name="password" type="password"></input>
    <br/>
    <div><span>Confirm Password:</span></div>
    <input name="confirm" type="password"></input>
    <br/>
    <div><input type="submit" value="Reset Password"></div>
  </form>	
{% endif %}
</div>
{% endblock %}

{% block app_script %}{% endblock %}

{% block use_script %}{% endblock %}