{% extends "base.html" %}

{% block content %} 
<div class="practice-wrapper">
{% include "components/practice_header.html" %}
    <div id="practice-section" class="practice-section">
    </div>
</div>
{% autoescape off%}
<script type="text/json" id="test_info">
    {{ test_info }}
</script>

<script type="test/json" id="current_section">
{{ current_section }}
</script>
{% endautoescape %}
{% endblock %}

{% block app_script %}TestPageApp{% endblock %}

{% block use_script %}TestPageApp{% endblock %}
