<div class="subnav-bar">
<ul class="subnav">
  <li id="reading"><a href="/practices/reading"{% if selected = 'reading' %} class="selected"{% endif %}>Reading</a></li>
  <li id="listening"><a href="/practices/listening"{% if selected = 'listening' %} class="selected"{% endif %}>Listening</a></li>
  <li id="writing"><a href="/practices/writing"{% if selected = 'writing' %} class="selected"{% endif %}>Writing</a></li>
  <li id="speaking"><a href="/practices/speaking"{% if selected = 'speaking' %} class="selected"{% endif %}>Speaking</a></li>
</ul>
</div>